*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
_CreateNewNuGetPackage/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.Development.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
/file.sandbox.oauth2.api/sandbox.webapis/headers/file.sandbox.headers.api/appsettings.Development.json
/file.sandbox.oauth2.api/api/file/file.controllers/file.controllers.xml
/file.sandbox.oauth2.api/api/file/file.types/file.types.xml
/file.sandbox.oauth2.api/api/sandbox/file.sandbox.types/file.sandbox.types.xml
/file.sandbox.oauth2.api/api/sandbox/file.sandbox.controllers/file.sandbox.controllers.xml
/file.sandbox.oauth2.api/api/folder/folder.types/folder.types.xml
/file.sandbox.oauth2.api/api/folder/folder.controllers/folder.controllers.xml
/file.sandbox.oauth2.api/sandbox.webapis/docs/file.sandbox.api.docs/appsettings.Development.json
/file.oauth2.api/webapis/core/file.oauth2.api/appsettings.Development.json
/file.oauth2.api/webapis/proxy/file.proxy.oauth2.api/appsettings.Development.json
/file.sandbox.oauth2.api/sandbox.webapis/headers/file.sandbox.headers.api/file.sandbox.headers.api.csproj.user
/file.oauth2.api/webapis/core/file.oauth2.api/web.config
/file.proxy.oauth2.api/webapis/proxy/file.proxy.oauth2.api/web.config
